{
  "file_name": "credentials.json",
  "mode": "live",
  "mpm_version": "3.15.2",
  "log_level": "INFO",
  "https_options": {
          "key": "./config/keys/imqa_key.pem",
          "cert": "./config/keys/imqa_cert.pem"
  },
  "logging": [
          {
                  "level": "verbose",
                  "type": "Console",
                  "colorize": true,
                  "timestamp": true
          },
          {
                  "level": "file",
                  "type": "File",
                  "timestamp": true,
                  "filename": "/dev/null"
          }
  ],
  "database": {
          "type": "mysql",
          "aosShardNodes": { "aosShard00": 1 },
          "iosShardNodes": { "iosShard00": 1 },
          "unityShardNodes": { "unityShard00": 1 },
          "webShardNodes": { "webShard00": 1 },
          "proxySqlNodes": { "proxySql00": 1 },
          "nodes": {
                  "user": {
                          "host": "$DB_HOST",
                          "port": $DB_PORT,
                          "user": "$DB_USER",
                          "password": "$DB_PASS",
                          "database": "imqa_user",
                          "connectionLimit": 10,
                          "waitForConnections": true,
                          "maxIdle": 10
                  },
                  "proxySql00": {
                          "host": "$DB_HOST",
                          "port": $DB_PORT,
                          "user": "$DB_USER",
                          "password": "$DB_PASS",
                          "flags": "-c",
                          "connectionLimit": 20,
                          "waitForConnections": true,
                          "multipleStatements": true,
                          "maxIdle": 20
                  },
                  "backoffice": {
                          "host": "$DB_HOST",
                          "port": $DB_PORT,
                          "user": "$DB_USER",
                          "password": "$DB_PASS",
                          "database": "imqa_backoffice",
                          "connectionLimit": 20,
                          "waitForConnections": true,
                          "maxIdle": 20
                  }
          },
          "crash": {
                  "aos": "imqa",
                  "ios": "imqa_crash_apple",
                  "unity": "imqa_crash_unity"
          },
          "mpm": { "aos": "imqa_mpm_analysis", "ios": "imqa_mpm_apple" }
  },
  "cookie": {
          "session": "IMQA_SESSION",
          "temp_session": [
                  "IMQA_LOCAL_SESSION",
                  "IMQA_OTE_SESSION",
                  "IMQA_DEV_SESSION",
                  "IMQA_SESSION"
          ],
          "domain": "$COOKIE_DOMAIN"
  },
  "host": {
          "account": "$ACCOUNT_HOST",
          "mpm": "$MPM_HOST",
          "wpm": "$WPM_HOST",
          "crash": "$CRASH_HOST",
          "wcrash": "$WCRASH_HOST",
          "protocol": "https",
          "protocolPrivate": "http"
  },
  "analysisFile": { "local": "$PROJECT_FOLDER/uploads", "maxFileSize": 500000000 },
  "file_server": { "host": "127.0.0.1", "port": 3780, "version": "v1" },
  "ftp": {
          "host": "127.0.0.1",
          "user": "onycom",
          "pass": "!@hyperion78*",
          "port": "22",
          "remote": "$PROJECT_FOLDER/ftp_storage"
  },
  "storage": {
          "name": "imqaanalysisfilestorage",
          "key": "mkMu0wZ4J4pkVMgVgWMcw+Se5hyYBn5P9fSIAnf9WCveHtmeFrzRV8zm/FyTS/lrC6lxHFYTSOg7BCWbPLt2Cw=="
  },
  "pack_secret": "mpm project key generater",
  "jwtsecret": "imqa mpm key secret",
  "saltRound": 5,
  "jwt": { "issuer": "$MPM_HOST", "subject": "mpm", "algorithm": "HS256" },
  "mail": {
          "server": "mail.onycom.com",
          "port": 587,
          "id": "youngsoo@onycom.com",
          "pass": "onycom.com!!",
          "name": "ImQA"
  },
  "gmail": {
          "server": "gmail",
          "id": "no-reply@imqa.io",
          "password": "Djslzja0080",
          "client_id": "258651742311-fvni8dp9jh1t5khodk9ihq8sbeabgfm6.apps.googleusercontent.com",
          "client_secret": "",
          "refresh_token": "1//04nuP_QEDxLE9CgYIARAAGAQSNwF-L9IrmSDaPOjqe5f_3AHvz0-eijmVq2Nb2dIIGDXIwAXwqczUQJGVXUqvigT1_s_16ubCrv4",
          "access_token": "ya29.a0AVA9y1u_PGyont4reJYT4y17emGODCLEJQoqm_T8voWqJRTIMrLzr_xWn5QLiKUKc4P93DHBpvwBNj4mh8sL00L1oVOeyTQazG937gElFn3ldIOIKik3ISIeFN6EHQes0VzFda0NHYpt-BEnofcWAIUwCaGjaCgYKATASATASFQE65dr8o4z-Th6LCfOOt-_gcu4PlQ0163",
          "name": "IMQA"
  },
  "approve_host": "$APPROVE_HOST",
  "mq": {
          "host": "amqp://$MQ_USER:$MQ_PASS@$MQ_HOST:$MQ_PORT/?heartbeat=10",
          "exchanges": "imqa-topic-exchange",
          "AOSCrashQueue": "CrashAosQueue",
          "IOSCrashQueue": "CrashIosQueue",
          "MPMAOSQueue": "MpmAosQueue",
          "MPMIOSQueue": "MpmIosQueue",
          "AosCrashKey": ["crash_aos"],
          "IosCrashKey": ["crash_ios"],
          "MpmAosKey": ["mpm_aos"],
          "MpmIosKey": ["mpm_ios"],
          "WpmKey": ["wpm"],
          "WebCrashKey": ["crash_web"],
          "exchange": "imqa-topic-exchange",
          "CrashAosQueue": "CrashAosQueue",
          "CrashIosQueue": "CrashIosQueue",
          "CrashWebQueue": "CrashWebQueue",
          "MpmAosQueue": "MpmAosQueue",
          "MpmIosQueue": "MpmIosQueue",
          "WpmQueue": "WpmQueue",
          "CrashAosKey": ["crash_aos"],
          "CrashIosKey": ["crash_ios"],
          "CrashWebKey": ["crash_web"],
          "port": $MQ_PORT,
          "login": "$MQ_USER",
          "password": "$MQ_PASS",
          "connectionTimeout": 0,
          "reconnect": true,
          "authMechanism": "AMQPLAIN",
          "vhost": "/"
  },
  "stackMq": {
          "host": "amqp://$MQ_USER:$MQ_PASS@$MQ_HOST:$MQ_PORT/?heartbeat=60",
          "stackExchanges": "imqa-stack-exchange",
          "MpmStackSinkKey": ["mpm"],
          "CrashStackSinkKey": ["crash"],
          "login": "$MQ_USER",
          "password": "$MQ_PASS",
          "vhost": "/"
  },
  "analysisMQ": {
          "host": "amqp://$MQ_USER:$MQ_PASS@$MQ_HOST:$MQ_PORT/?heartbeat=10",
          "port": $MQ_PORT,
          "login": "$MQ_USER",
          "password": "$MQ_PASS",
          "authMechanism": "AMQPLAIN",
          "vhost": "/",
          "qname": "analysis-callstack"
  },
  "errorMQ": {
          "host": "amqp://$MQ_USER:$MQ_PASS@$MQ_HOST:$MQ_PORT/?heartbeat=10",
          "port": $MQ_PORT,
          "login": "$MQ_USER",
          "password": "$MQ_PASS",
          "authMechanism": "AMQPLAIN",
          "vhost": "/",
          "qname": "errorQ"
  },
  "local_redis": [
          {
                  "master": {
                          "host": "$REDIS_HOST",
                          "port": $REDIS_PORT,
                          "pass": "$REDIS_PASS",
                          "retry_unfulfilled_commands": true,
                          "connect_timeout": 10000
                  },
                  "slaves": [{ "host": "$REDIS_HOST", "port": $REDIS_PORT, "pass": "$REDIS_PASS" }]
          }
  ],
  "redis": [
          {
                  "master": {
                          "host": "$REDIS_HOST",
                          "port": $REDIS_PORT,
                          "pass": "$REDIS_PASS",
                          "retry_unfulfilled_commands": true,
                          "connect_timeout": 10
                  },
                  "slaves": [
                          {
                                  "host": "$REDIS_HOST",
                                  "port": $REDIS_PORT,
                                  "pass": "$REDIS_PASS",
                                  "retry_unfulfilled_commands": true,
                                  "connect_timeout": 10
                          }
                  ]
          }
  ],
  "mapping_redis": [
          {
                  "master": {
                          "host": "$REDIS_HOST",
                          "port": $REDIS_PORT,
                          "pass": "$REDIS_PASS",
                          "retry_unfulfilled_commands": true,
                          "connect_timeout": 10
                  }
          }
  ],
  "alert_server": "$ALERT_SERVER:$ALERT_SERVER_PORT",
  "cache_redis": {
          "host": "$REDIS_HOST",
          "port": $REDIS_PORT,
          "db": 3,
          "password": "$REDIS_PASS"
  },
  "cache_config": {
          "useCache": false,
          "criteriaDay": 10,
          "realTimeExpireSecond": 60,
          "currentExprieSecond": 120,
          "todayExpireMinute": 30,
          "aboveCriteriaExpireDay": 3
  },
  "stack_storage": {
          "host": "52.231.193.16",
          "storage_path": "/home/onycom/data",
          "receiver_port": 9000,
          "api_port": 15000
  },
  "stack_api": { "host": "52.231.193.16", "port": 45000, "ssl_port": 46000 },
  "stack_service": { "host": "$STACK_SERVICE_HOST", "port": $STACK_SERVICE_PORT },
  "stack_decoder": { "host": "$STACK_DECODER_HOST", "port": $STACK_DECODER_PORT },
  "worker": {
          "responseTimeCollectionLimitSecond": 1,
          "dataFilter": []
  },
  "collector": {
          "dataFilter": [],
          "wpm": {
                  "useWhiteOrigins": true,
                  "whiteOriginsSource": "cache",
                  "whiteOrigins": {}
          }
  },
  "scheduler": {
          "cleanUp": {
                  "callstack_range": $CALLSTACK_RANGE,
                  "range": $RANGE,
                  "summary_range": $SUMMARY_RANGE,
                  "delete_row_count": $DELETE_ROW_COUNT
          },
          "projectDelete": { "range": $PROJECT_RANGE }
  },
  "agent_setting": {
          "web_agent": {
                  "url": "https://cdn.imqa.io/agent/web-agent"
          },
          "webview_agent": {
                  "url": "https://cdn.imqa.io/agent/webview-agent"
          }
  },
  "openaiApi": {
          "host": "http://20.249.8.235:8080"
  },
  "password_validation": {
          "easy": ["test", "TEST", "admin", "ADMIN", "imqa", "IMQA"]
  }
}